* {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  height: -webkit-fill-available;
  overflow: hidden;
}

body {
  max-height: 100dvh;
  max-height: -webkit-fill-available;
  height: 100vh;
  width: 100vw;
  transform: translateX(0);
  color: white;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

main {
  margin: 1em;
  width: calc(100vw - 2em);
  height: calc(100vh - 2em);
}

nav {
  height: 2em;
  margin-bottom: 1em;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 5em);
  width: 100%;
}

.content h1 {
  font-size: 5em;
  margin-bottom: 0.1em;
  text-align: center;
  transition-duration: 1s;
  transition-timing-function: ease;
}

.title h1:nth-child(2) {
  width: 4.125em;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.title.studying h1:nth-child(2) {
  width: 4.5em;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.title.running h1:nth-child(2) {
  width: 4em;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.title.everything h1:nth-child(2) {
  width: 5.5em;
  transition-duration: 1s;
  transition-timing-function: ease;
}

h3 {
  font-size: 1.15em;
  text-align: center;
  width: 25vw;
  font-weight: normal;
  line-height: 125%;
}

.bar-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 3em;
  height: 10em;
}

.bar {
  background-color: white;
  opacity: 0.5;
  width: 0.65em;
  height: 1em;
  margin-left: 0.3em;
  margin-right: 0.3em;
  border-radius: 0.5em;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.bar.final {
  transition-duration: 1s;
}

.title {
  display: flex;
}

InitialAuth {
  background-color: orange;
}
