* {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  height: -webkit-fill-available;
  overflow: hidden;
}

body {
  max-height: 100dvh;
  max-height: -webkit-fill-available;
  height: 100vh;
  width: 100vw;
  transform: translateX(0);
  color: white;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

main {
  margin: 1em;
  width: calc(100vw - 2em);
  height: calc(100vh - 2em);
}

nav {
  height: 2em;
  margin-bottom: 1em;
}

nav a#logo h2,
nav a#logo {
  color: white;
  width: max-content;
  display: flex;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 7.5em);
  width: 100%;
}

.content h1 {
  font-size: 5em;
  margin-bottom: 0.1em;
  text-align: center;
  transition-duration: 1s;
  transition-timing-function: ease;
}

.title h1:nth-child(2) {
  width: 4.125em;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.title.studying h1:nth-child(2) {
  width: 4.5em;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.title.running h1:nth-child(2) {
  width: 4em;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.title.everything h1:nth-child(2) {
  width: 5.5em;
  transition-duration: 1s;
  transition-timing-function: ease;
}

h3 {
  font-size: 1.15em;
  text-align: center;
  width: 25vw;
  font-weight: normal;
  line-height: 125%;
}

.bar-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 5em;
  height: 10em;
}

.bar {
  background-color: white;
  opacity: 0.5;
  width: 0.65em;
  height: 1em;
  margin-left: 0.3em;
  margin-right: 0.3em;
  border-radius: 0.5em;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.bar.final {
  transition-duration: 1s;
}

.bar.static:hover {
  opacity: 1;
  transition-duration: 0.25s;
}

.bar.static p:first-child {
  margin-top: -2.5em;
}

.bar.static p:last-child {
  margin-bottom: -2.5em;
}

.bar.static p {
  width: fit-content;
  text-wrap: nowrap;
}

.bar.static {
  transition-duration: 0.25s;
}

.bar.static:hover > div {
  visibility: visible;
}

.bar.static div {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  visibility: hidden;
  z-index: 1;
}

.title {
  display: flex;
}

nav button {
  background-color: #e3fd7f;
  border-radius: 24px;
  position: fixed;
  top: 1em;
  right: 1em;
}

.get-started-button {
  animation-name: navButton;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-delay: 2s;
  animation-fill-mode: backwards;
  /* color: rgb(110, 110, 110); */
}

@keyframes navButton {
  from {
    top: -5em;
  }
  to {
    top: 1em;
  }
}

.steps {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  width: 100vw;
  border-top: solid white 0.25px;
  opacity: 1;
  animation-name: steps;
  animation-timing-function: ease;
  animation-delay: 2s;
  animation-duration: 2s;
  animation-fill-mode: backwards;
}

@keyframes steps {
  from {
    bottom: -5em;
  }
  to {
    bottom: 0;
  }
}

.step {
  width: 20vw;
  padding: 1em;
  display: flex;
  justify-content: center;
  opacity: 0.5;
}

.step-number {
  width: 1.5em;
  height: 1.5em;
  border-radius: 0.75em;
  margin-right: 1em;
  color: #353998;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.step.highlight {
  opacity: 1;
}

.step.highlight hr {
  width: 100%;
  transition-duration: 3s;
  transition-timing-function: linear;
  transition-property: width;
}

.step hr {
  width: 0;
  position: absolute;
  left: 0em;
  top: calc(0em - 1.5px);
}

/* artist search results */

.artist-result-card {
  display: flex;
  justify-content: space-between;
  border-radius: 1rem;
  border: white 1px solid;
  padding: 1rem;
  background-color: rgb(197, 197, 197, 0.25);
  align-content: center;
  align-items: center;
  width: 25rem;

  cursor: grab;

  position: relative;
  transition: left ease 0.25s;
  margin-bottom: 0.05rem;
}

.artist-result-card:hover {
  left: 10px;
}
.artist-result-card:active {
  background-color: #e4fd7f61;
  border: 1px #e3fd7f solid;
}
/* .artist-result-card-added {
  
  display:flex;
  justify-content: space-between;
  border-radius: 1rem;

  padding:1rem;
  align-content: center;
  align-items:center;
  width: 25rem;

  cursor:grab;
  border: 1px #e3fd7f solid;
  background-color: #e4fd7f54;

  margin-bottom: 0.05rem;


}
 .artist-result-card-added:hover{
  left: 10px;
} */

/* track search results*/
.track-result-card {
  display: flex;
  justify-content: space-between;
  border-radius: 1rem;
  border: white 1px solid;
  padding: 1rem;
  background-color: rgb(197, 197, 197, 0.25);
  align-content: center;
  align-items: center;
  width: 30rem;

  cursor: grab;

  position: relative;
  transition: left ease 0.25s;
  margin-bottom: 0.05rem;
}
.track-result-card:hover {
  left: 10px;
}
.track-result-card:active {
  background-color: #e3fd7f;
}

/* .track-result-card-added {
  display:flex;
  justify-content: space-between;
  border-radius: 1rem;
  border: white 1px solid;
  padding:1rem;
  background-color:   rgb(197, 197, 197, 0.25);
  align-content: center;
  align-items:center;
  width: 30rem;

  cursor:grab;

  position: relative;
  transition: left ease 0.25s;

  border: 1px #e3fd7f solid;
  background-color: #e4fd7f54;
  margin-bottom: 0.05rem;


} */
.track-result-card-added:hover {
  left: 10px;
}

.artist-names {
  font-size: 12px;
}

/* search result container*/
.search-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 85vw;
  justify-self: center;
}

/* modifying the acutal search bar*/
.search-bar {
  width: 30rem;
  color: #fafafa;
  height: 2rem;
  font-size: 2rem;
  font-weight: 200;
}

.selected-seed {
  display: flex;
  padding: 0.5rem;
  flex-direction: row;
  border-radius: 3rem;
  border: 1px white solid;
  width: 15rem;
  justify-content: space-around;

  align-items: center;
  font-size: 14px;
  cursor: grab;
  margin: 1rem;
}

.selected-seed:hover {
  transform: scale(1.05);
  background-color: #fafafa59;
}

.selected-seed img {
  width: 2rem;
  height: 2rem;
  margin-right: 0.25rem;
  margin-left: 0.5rem;
}
.selected-seed-container {
  display: flex;
  padding: 3rem;
  flex-wrap: wrap;
}
