.continue-button {
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 50%;
  pointer-events: none;
  transition: 0.5s ease;
}

.continue-button.toggle {
  background-color: #fffdce;
  opacity: 100%;
  pointer-events: all;
  transition: 0.5s ease;
}

.select-content {
  height: calc(100vh - 5em);
  padding: 2.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.select-content h3 {
  font-size: 3em;
  width: fit-content;
  text-wrap: nowrap;
  color: white;
  font-weight: 600;
}

.select {
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.select button {
  margin: 0.5em;
  font-weight: 400;
  font-size: 2em;
  border-radius: 1.5em;
}

/* slider  */

.slide-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50em;
  height: 3em;
}
/* .double-slider width must be the same as .double-slier input[type=range] width*/
.double-slider {
  width: calc(100% - 2em);
  top: -1em;
}

/* actual range */
.double-slider input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 5em;
  position: absolute;
  pointer-events: none;
  width: calc(100% - 2em);
  height: 2em;
  margin: 0 1em;
}

/* dragger/selector */
.double-slider input::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;

  background-color: transparent;
  border-radius: 4em;
  width: 3em;
  height: 2em;

  cursor: pointer;
  pointer-events: all;
  position: relative;
  z-index: 1;
}

.double-slider input::-moz-range-thumb {
  pointer-events: all;
}

.double-slider input::-moz-range-track {
  z-index: -1;
}

.double-slider input[type="range"]::-webkit-slider-runnable-track {
  border-radius: 4em;
}
.double-slider input:last-of-type::-moz-range-track {
  -moz-appearance: none;
  background: none transparent;
  border: 0;
}

/*  parent component in the front that houses all of the sliders*/
.select-feat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1em 0;
}

/*  search bar styling*/

.search-box input[type="search"] {
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px white solid;
}
