.continue-button {
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 50%;
  pointer-events: none;
  transition: 0.5s ease;
}

.continue-button.toggle {
  background-color: #fffdce;
  opacity: 100%;
  pointer-events: all;
  transition: 0.5s ease;
}

.select-content {
  height: calc(100vh - 5em);
  padding: 2.5em;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  width: 100%;
}

.select-content h3 {
  font-size: 3em;
  width: fit-content;
  text-wrap: nowrap;
  color: white;
  font-weight: 600;
}

.select {
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.select button {
  margin: 0.5em;
  font-weight: 400;
  font-size: 2em;
  border-radius: 1.5em;
}

/* slider  */

.slide-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50em;
  height: 3em;
}
/* .double-slider width must be the same as .double-slier input[type=range] width*/
.double-slider {
  width: calc(100% - 2em);
  top: -1em;
}

/* actual range */
.double-slider input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 5em;
  position: absolute;
  pointer-events: none;
  width: calc(100% - 2em);
  height: 2em;
  margin: 0 1em;
}

/* dragger/selector */
.double-slider input::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;

  background-color: transparent;
  border-radius: 4em;
  width: 3em;
  height: 2em;

  cursor: pointer;
  pointer-events: all;
  position: relative;
  z-index: 1;
}

.double-slider input::-moz-range-thumb {
  pointer-events: all;
}

.double-slider input::-moz-range-track {
  z-index: -1;
}

.double-slider input[type="range"]::-webkit-slider-runnable-track {
  border-radius: 4em;
}
.double-slider input:last-of-type::-moz-range-track {
  -moz-appearance: none;
  background: none transparent;
  border: 0;
}

/*  parent component in the front that houses all of the sliders*/
.select-feat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1em 0;
}

/*  search bar styling*/

.search-box input[type="search"] {
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px white solid;
  width: 50vw;
}

::placeholder {
  color: white;
  font-weight: 100;
  opacity: 0.5;
  font-size: 0.75em;
}

.result-card {
  display: flex;
  border-radius: 0 0 0.75em 0.75em;
  border: white 1px solid;
  border-top: hidden;
  align-content: center;
  align-items: center;
  width: 100%;
  font-weight: 400;
  cursor: grab;
  transition: left ease 0.25s;
  margin-bottom: 0.05em;
  background-color: #335b79;
  transition: 0.25s ease;
}

.result-card:hover {
  background-color: rgba(255, 255, 255, 0.25);
  transition: 0.25s ease;
}

.result-card:not(:first-of-type) {
  padding-top: 1em;
  margin-top: -1em;
}

.result-card:nth-of-type(1) {
  z-index: 5;
}

.result-card:nth-of-type(2) {
  z-index: 4;
}

.result-card:nth-of-type(3) {
  z-index: 3;
}

.result-card:nth-of-type(4) {
  z-index: 2;
}

.result-card:nth-of-type(5) {
  z-index: 1;
}

.result-card img {
  height: 2em;
  width: 2em;
  margin: 0.75em;
  margin-right: 0.75em;
}

.genre-result-card.result-card img {
  width: 0;
  margin-right: 0;
}

.genre-result-card.result-card {
  text-transform: capitalize;
}

.track-time {
  position: absolute;
  right: 0.5em;
  opacity: 0.75;
}

.artist-names {
  opacity: 0.75;
  font-size: 0.75em;
  margin-top: -0.25em;
}

/* search result container*/
.search-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.select-seed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin: 0.5em 0;
}

/* modifying the acutal search bar*/
.search-bar {
  color: #fafafa;
  font-size: 2em;
}

.search-results {
  position: fixed;
  z-index: 1;
  background-color: #335b79;
  width: 50vw;
}

.selected-seed {
  display: flex;
  padding: 0.25em;
  flex-direction: row;
  border-radius: 3em;
  border: 1px white solid;
  justify-content: space-around;
  margin: 0.25em;
  align-items: center;
  cursor: grab;
  transition: 0.25s ease;
  opacity: 0.75;
}

.selected-seed img {
  width: 1em;
  height: 1em;
  margin-right: 0.25em;
  margin-left: 0.5em;
}

.selected-seed p {
  margin: 0.25em 0.5em;
}

.selected-seed-genres.selected-seed p {
  text-transform: capitalize;
}

.selected-seed:hover {
  opacity: 1;
  transition: 0.25s ease;
}

.selected-seed .close {
  margin-right: 0.5em;
}

.selected-seed-container {
  display: flex;
  flex-wrap: wrap;
}

.search-icon {
  float: right;
  margin-left: -1.5em;
  top: 1vh;
  height: 1.5em;
  width: 1.5em;
  opacity: 0.5;
}
